.body {
    margin : 0;
}

.HeaderContainer {
    display: block;
    position: fixed;
    top: 0px;
    margin: 0px;
    padding: 0px;
    height: 60px;
    width: 100%;
    background: white;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid black;
    z-index: 3;
}

.BodyContainer {
    margin: 73px 0 30px 0;
}
.NaviContainer {
    position: fixed;
    display: block;
    top : calc(60px - 100%);
    left: 0;
    width: 150px;
    height: 100%;
    background-color: white;
    border-right : 1px solid black;


    z-index: 2;
}
.NaviContainer.odd {
    animation-name: NaviDown;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
.NaviContainer.even {
    animation-name: NaviUp;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
@keyframes NaviDown {
    from { transform : translateY(0%)}
    to { transform: translateY(100%)}
}
@keyframes NaviUp {
    from { transform: translateY(100%)}
    to { transform: translateY(0%)}

}

.FooterContainer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    border-top: 1px solid black;
    z-index: 3;

    background-color: white;
}
.FooterContainer.darkmode {
    background-color: gray;
}


.fullscreen {
    position: fixed;
    top : 0;
    display: none;
}
.fullscreen.darkmode {
    display: block;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 2;
}