.menu-box {
    margin-left : 13px;
    height : 30px;
    width: 30px;
}
.menu {
    height : 30px;
    margin-top: 13px;
    padding-bottom: 7px;
    cursor : pointer;
}
.menu.odd {
    animation-name: menu-spin-forward;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
.menu.even {
    animation-name: menu-spin-reverse;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}
@keyframes menu-spin-forward {
    from {
        transform : rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }

}
@keyframes menu-spin-reverse {
    from {transform : rotate(90deg)}
    to {transform: rotate(0deg)}
}

.headImg {
    position : absolute;
    width: 80px !important;
    height: 40px !important;
    margin: 10px 0 0 10px;
    padding: 0;
}
.mainTitle {
    position : absolute;
    left: 35%;
    font-size: 40px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}
.Log-INandOUT{
    position: absolute;
    top : 1rem;
    right : 20px;
}