.Dashboard {
    display: grid;
}
.Dashboard.main {
    grid-template-columns : 1fr 1fr;
}
.Calendar {
    height: 25rem;
    border: 1px solid black;
    margin: 0 5px 0 10px;
}


.Bob-friends {
    height: 25rem;
    border: 1px solid black;
    margin: 0 10px 0 5px;
}
.Bob-tag {
    margin-left: 2rem;
}
.Bob-this-week , .Bob-next-week {
    border: 1px solid black;
    margin : 1rem 18px 1rem 18px;
    padding: 7px;
}