.Dashboard {
    display: grid;
}
.Dashboard.main {
    grid-template-columns : 1fr 1fr;
}
.Calendar {
    height: 25rem;
    border: 1px solid black;
    margin: 0 5px 0 5px;
}


.Bob-friends {
    height: 25rem;
    border: 1px solid black;
    margin: 0 5px 0 5px;
}