.body {
    margin: 0px;
}
.headContainer {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}
.headImg {
    position : relative;
    left: 0%;
    display: inline;
    margin-left: 15px;
    width: 120px;
    height: 60px;
}
.mainTitle {
    position : relative;
    left: 25%;
    font-size: 40px;
}